*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
.idea/
.gradle/
build/
obj/
*.iml
local.properties
*.keystore
gradle.properties
app/build
library/build
.idea/libraries
*.jar
